version: '3.1'

services:
  mongo:
    image: mongo:6.0
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
      MONGO_INITDB_DATABASE: lotto-web
    volumes:
      - ./init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro

  mongo-express:
    image: mongo-express
    restart: always  #restart the container regardless of the exit status
    ports:
      - "8081:8081"  # port forwarding
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example
      ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/  # mongodb://{mongo-image-username}:{mongo-image-password}@{mongo-image-name}:{port}
      ME_CONFIG_BASICAUTH: "false"
#      ME_CONFIG_BASICAUTH_USERNAME: express
#      ME_CONFIG_BASICAUTH_PASSWORD: express


  lotto:
    container_name: lotto
#    build: .
    #    image: 054968576252.dkr.ecr.eu-central-1.amazonaws.com/lotto2:latest
    image: 775694652556.dkr.ecr.eu-north-1.amazonaws.com/lotto
    restart: always
    ports:
      - '8000:8080'
    environment:
      MONGO_USER: admin
      MONGO_PASSWORD: admin
      MONGO_HOST: mongo
      MONGO_PORT: 27017
      MONGO_DB_NAME: lotto-web
      MONGO_AUTH_SOURCE: admin


  redis:
    image: redis
    ports:
      - "63792:6379"
    restart: always


  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8082:8081"